{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Category: {{ item.category }}</h2>
    
    <div class="container-fluid">
        <div class="row">
            {% for item in listings %}
            {% if item.closed != True %}
                <div class="card m-3 col-2">
                        <div class="card-title-wrapper" style="height: 230px">
                            <img class="card-img-top img-fluid img-100 mt-3" style="max-height: 230px"src="{{ item.image_url }}" alt="Photo of {{ item.title }} listing">
                        </div>
                    <div class="card-title-wrapper" style="height: 90px">
                        <div class="card-body">
                            <h5 class="card-title">Listing {{ item.id }} - {{ item.listing_title }}</h5>
                        
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        {% if item.max_bid %}
                            <li class="list-group-item">Current Bid: £{{ item.max_bid }}</li>
                        {% else %}
                            <li class="list-group-item">Current Bid: £0</li>
                        {% endif %}

                    </ul>
                    <div class="card-body">
                        <a href="{% url 'listing' item.listing_title %}" class="btn btn-primary">Details</a>
                    </div>
                </div>
           
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}