{% extends "auctions/layout.html" %} 

{% block body %} 
    <div class="container-fluid panel">
        <div class="row">
            <div class="col-8">
                <h2>Listing: {{listing.listing_title}}</h2>
            </div>
            <div class="col-4 border-left">
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-4">
                    <img src="{{ listing.image_url }}" class="img-fluid max-width w-100 img-thubnail" alt="Photo of {{ listing.title }} listing" >

                <h4 class="card-text text-muted mt-2">Description</h4>
                <p class="card-text">{{ listing.description }}</p>
                <p class="text-primary mt-2">Listed by: {{ listing.seller }}</p>
            </div>
            <div class="col-4">
                <h4 class="text-muted">Actions</h4>
                    {% if listing.closed == True %}
                        <h3 class="text-muted">Bidding closed</h3>
                        <p>Listing winner: {{ listing.winner }}</p> 
                        {% if user == listing.winner %} 
                            <div class="text-success">
                                <h4>Congratulations, you have won the bid!</h4>
                            </div>
                        {% endif %}
                    {% endif %}
                    
                    {% if max_bid %}
                        <p>Winning Bid: £{{ max_bid }}</p>
                    {% else %} 
                        <p>Winning Bid: £0</p>
                    {% endif %} 
                    
                    {% if user.is_authenticated %}
                        {% if listing.closed == False %}
                            
                            
                            {% if user != listing.seller %}
                                <form action="{% url 'listing' listing=listing.listing_title %}" method="post">
                                    {% csrf_token %}
                                    <input type="number" name="add_bid">
                                    <input type="hidden" name="post_listing_title" value="{{ listing.listing_title }}">
                                    <button type="submit" class="btn btn-primary">Bid</button>
                                </form>

                                {% if error %} 
                                    <p>{{ error }}</p>
                                {% endif %}
                            {% endif %}
                            <br>
                            <form action="{% url 'watchlist' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="add_watchlist_item" value="1">
                                <input type="hidden" name="listing_id" value="{{ listing.id }}">
                                <button type="submit" class="btn btn-primary">Add to watchlist</button>
                            </form>
                        {% endif %}
                        

                        {% if listing.closed == False %} 
                            {% if user == listing.seller %}
                                <form action="{% url 'listing' listing=listing.listing_title %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="close_listing" value="1">
                                    <input type="hidden" name="post_listing_title" value="{{ listing.listing_title }}">
                                    <button type="submit" class="btn btn-primary mt-3 mb-3">End Auction</button>
                                </form>
                            {% endif %} 
                        {% endif %}
                    {% endif %} 


                </div>
            
        

            <div class="col-4 border-left">
                <h4 class="text-muted">Comments</h4>
                <ol>
                    {% for comment in comments %} 
                        <li class="mt-2 text-muted">
                            <div class="d-flex align-items-center">
                                <div class="text-primary mr-4">{{ comment.user.username }}:  </div> 
                                <div class="text-muted">{{ comment.comment }}</div>
                            </div>
                        </li>
                    {% endfor %}
                </ol>
            
            
                {% if user.is_authenticated %}
                    {% if listing.closed == False %} 
                        <form action="{% url 'listing' listing=listing.listing_title %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="post_listing_title" value="{{ listing.listing_title }}">
                            <input type="text-area" name="add_comment">
                            <button type="submit" class="btn btn-primary">Add Comment</button>
                        </form>
                    {% endif %}
                {% endif %}
        </div>

{% endblock %}