{% extends "auctions/layout.html" %} 

{% block body %} 
            <h2>Listing {{ listing.id }} - {{listing.listing_title}}</h2>
            <img class="card-img-top" src="{{ listing.image_url }}" alt="Photo of {{ listing.title }} listing" style="height: 10rem; width: auto;">
            <p class="card-text">{{ listing.description }}</p>
            <p>Current Bid: £{{ listing.bid }}</p>
            {% if user.is_authenticated %}
            <form action="{% url 'watchlist' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="add_watchlist_item" value="1">
                <input type="hidden" name="listing_id" value="{{ listing.id }}">
                <button class="btn btn-primary">Add to watchlist</button>
            </form>
            {% endif %} 
{% endblock %}